@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

a {
    text-decoration: none;
}

/* header */
header {
    padding: 2rem 2rem;
    padding-bottom: 7rem;
    /* height: 100vh; */
    /* border: 1px solid red; */
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

li a {
    margin-left: 2rem;
    color: rgb(87, 85, 85);
    font-weight: 600;
    font-family: poppins;
    font-size: 1rem;
}

.btn {
    border: none;
    background-color: #1F2937;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3125rem;
    font-size: 1rem;
    border: 1px solid #1F2937;

}

.div1 {
    text-align: center;
    color: #1F2937;
    padding-top: 6.625rem;
}

h1 {

    font-size: 3.3125rem;
    font-family: verdana;
    font-weight: bolder;
    padding-bottom: 1rem;
}

.div1 p {
    font-size: 1.125rem;
    font-family: 'Nunito Sans', sans-serif;

}

.div1 .btn {
    display: inline-block;
    margin-top: 1rem;
}

.btn2 {

    background-color: white;
    color: #1F2937;
    border: 1px solid black;
    margin-left: 1rem;
}

.btn2:hover {
    background-color: #F9FAFB;
}

.flex2 {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.sec-1 {
    padding: 5rem 2rem;
    border-top: 1px solid #E5E7EB;
    background-color: #FEFAFA;
}

/* main section */
/* sec-1 */
i {
    padding: 25px;
    border: 1px solid #E5E7EB;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
}

.col h4 {
    /* font-size: 1.5rem; */
    padding-top: 1rem;
    color: rgb(26, 26, 26);
    font-family: poppins;
}

.col p {
    font-size: 1rem;
    color: rgb(87, 85, 85);
    font-family: 'Nunito Sans', sans-serif;

}

.flex3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.col {
    flex: 0 1 48%;
}

.col1 {
    flex: 0 1 48%;
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 5rem;
}

h2 {
    font-size: 2.25rem;
    color: #1F2937;
}

p {
    font-size: 1rem;
    padding-top: 1rem;
    color: #4B5563;
}

.col1>.btn {
    background-color: #4338CA;
    color: white;
    display: inline-block;
    margin-top: 2rem;
    border: none;
}

.img-width {
    width: 100%;
    border-radius: 1rem;
}

.sec-2 {
    padding:5rem 0 2rem 2rem ;
    background-color: #FEFAFA;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: #1F2937;
  
    padding-bottom: 7.25rem;
}

.padding {
    padding-top: 3rem;
}

.flex4 {
    display: flex;

    flex: 0 1 48%;
    flex-wrap: wrap;
}

/* review section */
.diff {
    padding-top: 8rem;
}

.diff a {
    display: inline-block;
    margin-top: 1rem;
}

.sec-3 {
    padding: 5rem 2rem;
    border-top: 1px solid #E5E7EB;
    background-color: #FDFBFF;
}

.sec-3 .container {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    /* align-items: center; */
    margin-top: 5rem;
}


.box {
    padding: 2rem;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    background-color: #FCFBFE;
    text-align: left;
    flex-basis: 350px;
    flex-grow: 1;
}

.min-flex img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

}

.min-flex {
    display: flex;
    gap: 1rem;
}

.left {
    text-align: left;
    flex: 0 1 48%;
}

.min-flex {
    display: flex;
}

.min-flex p {
    padding-top: 0;
}

.btn3 {
    margin-top: 2rem;
    display: inline-block;
}

/* footer */
footer {
    background-color: #FCFBFE;
    margin-top: 5rem;
}

.foot-icn i {
    color: #9CA3AF;
    border: none;
    font-size: 2rem;

}

.foot-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;

}

/*second-page*/
.form-flex {
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-flex a {
    color: #4F46E5;
}

.col2 {
    flex: 1 1 50%;
}

/* media-query */
@media screen and (min-width:250px) and (max-width:768px) {

    .flex,
    .flex2,
    .flex3,
    .min-flex,
    .foot-flex,
    .form-flex {
        flex-wrap: wrap;
    }

    .div1 {
        padding-top: 3rem;
    }

    .col,
    .col1,
    .flex4,
    .left,
    .col2,
    .left {
        flex: 0 1 100%;
    }

    .sec-1 {
        padding-top: 1rem;
    }

    .col {
        padding-top: 2rem;
    }
    footer{
        text-align: center;
    }
    .foot-icn i {
        text-align: center;
    }

}